<div class="jumbotron">
  <h1>Course Categories!</h1>
  <p>This is a list of course categories, click on each to see a list of courses for a given
    category.</p>
</div>
<div class="row">
  <div class="col-xs-6 col-lg-4">   
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Development</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" (click)="navigate('development')" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
  <div class="col-xs-6 col-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">IT & Software</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" routerLink="it-software" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
  <div class="col-xs-6 col-lg-4">    
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Office Productivity</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" routerLink="Office Productivity" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
  <div class="col-xs-6 col-lg-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">Photography</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
  <div class="col-xs-6 col-lg-4">    
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Health and Fitness</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
  <div class="col-xs-6 col-lg-4">    
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Music</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
  <!--/span-->
</div>
<!--/row-->
