<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item" routerLink="development">Development</a>
    <a href="#" class="list-group-item" routerLink="it-software">IT & Software</a>
    <a href="#" class="list-group-item" routerLink="Office Productivity">Office Productivity</a>
    <a href="#" class="list-group-item" routerLink="Photography">Photography</a>
    <a href="#" class="list-group-item" routerLink="Health and Fitness">Health and Fitness</a>
    <a href="#" class="list-group-item" routerLink="Music">Music</a>
</div>
</div>
